.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.trash/
.DS_Store
*.tmp
*.swp
.obsidian/plugins/obsidian-git/data.json   # évite de committer un éventuel token GitHub
.obsidian/workspace*
